body {
	background: url(bg.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	font-family: 'montserrat',sans-serif;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container .box {
	position: relative;
	width: 250px;
	height: 336px;
	padding: 20px;
	background: #dfd;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 4px;
	margin: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

.container .box:before {
	content: "";
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.2);
	z-index: 2;
	pointer-events: none;
}

.container .box .icon {
	position: relative;
	width: 200px;
	height: 70px;
	color: #fff;
	background: #000;
	display: flex;
	padding-right: 20px;
	margin-top: 0;
	border-radius: 5px;
	font-size: 40px;
	font-weight: 400;
	transition: 1s;
}

/*1*/

.container .box:nth-child(1) .icon {
	box-shadow: 0 0 0 0 #00bf72;
	background: #00bf72;
}

.container .box:nth-child(1):hover .icon {
	box-shadow: 0 0 0 400px #00bf72;
}

/*2*/

.container .box:nth-child(2) .icon {
	box-shadow: 0 0 0 0 #00bf72;
	background: #00bf72;
}

.container .box:nth-child(2):hover .icon {
	box-shadow: 0 0 0 400px #00bf72;
}

/*3*/

.container .box:nth-child(3) .icon {
	box-shadow: 0 0 0 0 #00bf72;
	background: #00bf72;
}

.container .box:nth-child(3):hover .icon {
	box-shadow: 0 0 0 400px #00bf72;
}

/*4*/

.container .box:nth-child(4) .icon {
	box-shadow: 0 0 0 0 #00bf72;
	background: #00bf72;
}

.container .box:nth-child(4):hover .icon {
	box-shadow: 0 0 0 400px #00bf72;
}

.container .box .content {
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.container .box:hover .content {
	color: #fff;
}

.container .box .content h3 {
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}

.container .box .content p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 20px;
}

a {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	text-decoration:none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

